.card-main {
    padding: 1em;
    max-width: 900px;
    margin: auto;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.counts > span {
    border: 1px solid;
    padding: 5px;
    border-radius: 4px;
}

.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000;
}

@media (max-width: 787px) {
    .counts {
        margin-bottom: 1em;
    }
}
